body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 5px;
}

.h-navbar {
    width: 100%;
    height: 42.5px;
    border-bottom: 0.8px solid lightgray;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}

.nav1 {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    width: 16%;
}

#burger {
    color: black;
}

#sec {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 16px;
}

#sec:hover {
    text-decoration: underline;
}

.button {
    background-color: #567b95;
    color: #f5f5f5;
    padding: 10px 16px;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.button:hover {
    background-color: #47718f;
}

.nav3 {
    margin-right: 45px;
}

main {
    margin-top: 42.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: Open sans, sans-serif;
    font-style: normal;
}

.art1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
    font-size: 32px;
    font-style: italic;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

.art1 > h1 {
    width: 40%;
    margin: 2rem 4rem 0 4rem;
}

ul > li {
    display: inline-block;
}

.u-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.u-list > li {
    margin-left: 20px;
}

.border1 {
    border-bottom: 0.8px solid lightgray;
    margin: 1rem 20rem 1rem 23rem;
}

#superJumbo {
    display: grid;
    justify-content: center;
}

#firstP {
    display: flex;
    justify-content: center;
    line-height: 22px;
}

#firstP > p {
    width: 55.5%;
}

p > span {
    color: lightgray;
}