body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 5px;
}

.h-navbar {
    width: 100%;
    height: 42.5px;
    border-bottom: 0.8px solid lightgray;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}

.nav1 {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    width: 16%;
}

#burger {
    color: black;
}

#sec {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 16px;
}

#sec:hover {
    text-decoration: underline;
}

.button {
    background-color: #567b95;
    color: #f5f5f5;
    padding: 10px 16px;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.button:hover {
    background-color: #47718f;
}

.nav3 {
    margin-right: 45px;
}

main {
    margin-top: 42.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: Open sans, sans-serif;
    font-style: normal;
}

.art1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
    font-size: 32px;
    font-style: italic;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

.art1 > h1 {
    width: 40%;
    margin: 2rem 4rem 0 4rem;
}

ul > li {
    display: inline-block;
}

li > a {
    color: black;
}

.u-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.u-list > li {
    margin-left: 20px;
}

.border1 {
    border-bottom: 0.8px solid lightgray;
    margin: 1rem 20rem 1rem 23rem;
}

#superJumbo {
    display: flex;
    justify-content: center;
}

#firstP {
    display: flex;
    justify-content: center;
    line-height: 22px;
}

#firstP > p {
    width: 55.5%;
}

p > span {
    color: lightgray;
}

.art2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.c-art2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 42%;
}

.c-art2 > h5 {
    width: 100%;
    text-align: left;
}

.c-art2 > time {
    width: 100%;
    font-size: 13px;
    color: lightgray;
}

.c-art2 > p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.art3 {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 5px;
}

.c-art3 > a {
    text-decoration: none;
    color: #567b95;
}

.c-art3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 30px;
    padding-bottom: 45px;
}

.art4 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.c-art4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
    padding: 10px;
}

.art4-underline {
    border-bottom: 0.8px solid lightgray;
}

.c-art4 > p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 16px 0;
    padding: 0;
}

.art5 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.c-art5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 10px;
}

.c-art5 > p {
    font-size: 17px;
    font-family: Open sans, sans-serif;
    margin: 16px 0;
    padding: 0;
}

.c-art5 > h1{
    font-family: "Cheltenham", sans-serif;
    font-size: 28px;
}

.art6 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.c-art6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 192px;
    padding: 10px;
}

.c-art6 > p {
    font-size: 16px;
    font-family: Open sans, sans-serif;
    margin: 16px 0;
    padding: 0;
    color: #000000;
}

.art7 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.c-art7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 192px;
    padding: 10px;
}

.c-art7 > p {
    font-size: 16px;
    font-family: Open sans, sans-serif;
    margin: 16px 0;
    padding: 0;
    color: #000000;
}

#ad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#ad > p {
    width: 70%;
    font-style: italic;
}

#ad > button {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 0 30px;
    height: 40%;
    cursor: pointer;
}

#video-t {
    margin-right: 2rem;
    margin-left: 7%;
    margin-top: 5px;
    width: 87%;
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

#video-t > span {
    font-size: 0.8rem;
    color: rgb(136, 136, 136);
}

#img-t {
    margin-right: 2rem;
    margin-left: 7%;
    margin-top: 5px;
    width: 87%;
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

#img-t > span {
    font-size: 0.8rem;
    color: rgb(136, 136, 136);
}

#art4 {
    border-top: 0.8px solid lightgray;
}

#last-p {
    font-size: 12.8px;
    color: #888888;
}

.list-a > a {
    font-size: 12.8px;
    color: #666666;
    text-decoration: underline;
}

.icon-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 3rem 0;
}

#comments {
    width: 70%;
    font-size: 13px;
}

.comment-area {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}